<!DOCTYPE html>
<html>
<table border="1">
<thead><tr><th title="Field #1">Native American Count</th>
<th title="Field #2">District Name</th>
</tr></thead>
<tbody><tr><td align="right">0</td>
<td>Andover School District</td>
</tr>
<tr><td align="right">14</td>
<td>Ansonia School District</td>
</tr>
<tr><td align="right">0</td>
<td>Ashford School District</td>
</tr>
<tr><td align="right">6</td>
<td>Avon School District</td>
</tr>
<tr><td align="right">0</td>
<td>Barkhamsted School District</td>
</tr>
<tr><td align="right"></td>
<td>Berlin School District</td>
</tr>
<tr><td align="right"></td>
<td>Bethany School District</td>
</tr>
<tr><td align="right">0</td>
<td>Bethel School District</td>
</tr>
<tr><td align="right"></td>
<td>Bloomfield School District</td>
</tr>
<tr><td align="right">0</td>
<td>Bolton School District</td>
</tr>
<tr><td align="right"></td>
<td>Bozrah School District</td>
</tr>
<tr><td align="right">6</td>
<td>Branford School District</td>
</tr>
<tr><td align="right">75</td>
<td>Bridgeport School District</td>
</tr>
<tr><td align="right">13</td>
<td>Bristol School District</td>
</tr>
<tr><td align="right">9</td>
<td>Brookfield School District</td>
</tr>
<tr><td align="right"></td>
<td>Brooklyn School District</td>
</tr>
<tr><td align="right">0</td>
<td>Canaan School District</td>
</tr>
<tr><td align="right">0</td>
<td>Canterbury School District</td>
</tr>
<tr><td align="right"></td>
<td>Canton School District</td>
</tr>
<tr><td align="right"></td>
<td>Chaplin School District</td>
</tr>
<tr><td align="right">11</td>
<td>Cheshire School District</td>
</tr>
<tr><td align="right">0</td>
<td>Chester School District</td>
</tr>
<tr><td align="right">7</td>
<td>Clinton School District</td>
</tr>
<tr><td align="right">19</td>
<td>Colchester School District</td>
</tr>
<tr><td align="right">0</td>
<td>Colebrook School District</td>
</tr>
<tr><td align="right">0</td>
<td>Columbia School District</td>
</tr>
<tr><td align="right">0</td>
<td>Cornwall School District</td>
</tr>
<tr><td align="right"></td>
<td>Coventry School District</td>
</tr>
<tr><td align="right"></td>
<td>Cromwell School District</td>
</tr>
<tr><td align="right">11</td>
<td>Danbury School District</td>
</tr>
<tr><td align="right">8</td>
<td>Darien School District</td>
</tr>
<tr><td align="right">0</td>
<td>Deep River School District</td>
</tr>
<tr><td align="right">0</td>
<td>Derby School District</td>
</tr>
<tr><td align="right"></td>
<td>Eastford School District</td>
</tr>
<tr><td align="right"></td>
<td>East Granby School District</td>
</tr>
<tr><td align="right"></td>
<td>East Haddam School District</td>
</tr>
<tr><td align="right">0</td>
<td>East Hampton School District</td>
</tr>
<tr><td align="right">22</td>
<td>East Hartford School District</td>
</tr>
<tr><td align="right">6</td>
<td>East Haven School District</td>
</tr>
<tr><td align="right">8</td>
<td>East Lyme School District</td>
</tr>
<tr><td align="right"></td>
<td>Easton School District</td>
</tr>
<tr><td align="right"></td>
<td>East Windsor School District</td>
</tr>
<tr><td align="right"></td>
<td>Ellington School District</td>
</tr>
<tr><td align="right">19</td>
<td>Enfield School District</td>
</tr>
<tr><td align="right">0</td>
<td>Essex School District</td>
</tr>
<tr><td align="right">14</td>
<td>Fairfield School District</td>
</tr>
<tr><td align="right">9</td>
<td>Farmington School District</td>
</tr>
<tr><td align="right"></td>
<td>Franklin School District</td>
</tr>
<tr><td align="right">7</td>
<td>Glastonbury School District</td>
</tr>
<tr><td align="right">6</td>
<td>Granby School District</td>
</tr>
<tr><td align="right">9</td>
<td>Greenwich School District</td>
</tr>
<tr><td align="right">23</td>
<td>Griswold School District</td>
</tr>
<tr><td align="right">45</td>
<td>Groton School District</td>
</tr>
<tr><td align="right"></td>
<td>Guilford School District</td>
</tr>
<tr><td align="right">7</td>
<td>Hamden School District</td>
</tr>
<tr><td align="right">0</td>
<td>Hampton School District</td>
</tr>
<tr><td align="right">67</td>
<td>Hartford School District</td>
</tr>
<tr><td align="right"></td>
<td>Hartland School District</td>
</tr>
<tr><td align="right">0</td>
<td>Hebron School District</td>
</tr>
<tr><td align="right">0</td>
<td>Kent School District</td>
</tr>
<tr><td align="right">23</td>
<td>Killingly School District</td>
</tr>
<tr><td align="right">30</td>
<td>Lebanon School District</td>
</tr>
<tr><td align="right">110</td>
<td>Ledyard School District</td>
</tr>
<tr><td align="right"></td>
<td>Lisbon School District</td>
</tr>
<tr><td align="right">0</td>
<td>Litchfield School District</td>
</tr>
<tr><td align="right">7</td>
<td>Madison School District</td>
</tr>
<tr><td align="right">23</td>
<td>Manchester School District</td>
</tr>
<tr><td align="right">0</td>
<td>Mansfield School District</td>
</tr>
<tr><td align="right">0</td>
<td>Marlborough School District</td>
</tr>
<tr><td align="right">36</td>
<td>Meriden School District</td>
</tr>
<tr><td align="right">13</td>
<td>Middletown School District</td>
</tr>
<tr><td align="right">8</td>
<td>Milford School District</td>
</tr>
<tr><td align="right">14</td>
<td>Monroe School District</td>
</tr>
<tr><td align="right">43</td>
<td>Montville School District</td>
</tr>
<tr><td align="right">6</td>
<td>Naugatuck School District</td>
</tr>
<tr><td align="right">12</td>
<td>New Britain School District</td>
</tr>
<tr><td align="right">19</td>
<td>New Canaan School District</td>
</tr>
<tr><td align="right">7</td>
<td>New Fairfield School District</td>
</tr>
<tr><td align="right">0</td>
<td>New Hartford School District</td>
</tr>
<tr><td align="right">32</td>
<td>New Haven School District</td>
</tr>
<tr><td align="right">6</td>
<td>Newington School District</td>
</tr>
<tr><td align="right">19</td>
<td>New London School District</td>
</tr>
<tr><td align="right"></td>
<td>New Milford School District</td>
</tr>
<tr><td align="right"></td>
<td>Newtown School District</td>
</tr>
<tr><td align="right">0</td>
<td>Norfolk School District</td>
</tr>
<tr><td align="right">6</td>
<td>North Branford School District</td>
</tr>
<tr><td align="right">0</td>
<td>North Canaan School District</td>
</tr>
<tr><td align="right">7</td>
<td>North Haven School District</td>
</tr>
<tr><td align="right">8</td>
<td>North Stonington School Distri</td>
</tr>
<tr><td align="right">11</td>
<td>Norwalk School District</td>
</tr>
<tr><td align="right">30</td>
<td>Norwich School District</td>
</tr>
<tr><td align="right"></td>
<td>Old Saybrook School District</td>
</tr>
<tr><td align="right">0</td>
<td>Orange School District</td>
</tr>
<tr><td align="right">6</td>
<td>Oxford School District</td>
</tr>
<tr><td align="right">27</td>
<td>Plainfield School District</td>
</tr>
<tr><td align="right"></td>
<td>Plainville School District</td>
</tr>
<tr><td align="right"></td>
<td>Plymouth School District</td>
</tr>
<tr><td align="right"></td>
<td>Pomfret School District</td>
</tr>
<tr><td align="right"></td>
<td>Portland School District</td>
</tr>
<tr><td align="right">9</td>
<td>Preston School District</td>
</tr>
<tr><td align="right"></td>
<td>Putnam School District</td>
</tr>
<tr><td align="right"></td>
<td>Redding School District</td>
</tr>
<tr><td align="right"></td>
<td>Ridgefield School District</td>
</tr>
<tr><td align="right">6</td>
<td>Rocky Hill School District</td>
</tr>
<tr><td align="right"></td>
<td>Salem School District</td>
</tr>
<tr><td align="right">0</td>
<td>Salisbury School District</td>
</tr>
<tr><td align="right">0</td>
<td>Scotland School District</td>
</tr>
<tr><td align="right"></td>
<td>Seymour School District</td>
</tr>
<tr><td align="right">0</td>
<td>Sharon School District</td>
</tr>
<tr><td align="right">9</td>
<td>Shelton School District</td>
</tr>
<tr><td align="right">0</td>
<td>Sherman School District</td>
</tr>
<tr><td align="right">0</td>
<td>Simsbury School District</td>
</tr>
<tr><td align="right"></td>
<td>Somers School District</td>
</tr>
<tr><td align="right">11</td>
<td>Southington School District</td>
</tr>
<tr><td align="right"></td>
<td>South Windsor School District</td>
</tr>
<tr><td align="right"></td>
<td>Sprague School District</td>
</tr>
<tr><td align="right">9</td>
<td>Stafford School District</td>
</tr>
<tr><td align="right">9</td>
<td>Stamford School District</td>
</tr>
<tr><td align="right"></td>
<td>Sterling School District</td>
</tr>
<tr><td align="right"></td>
<td>Stonington School District</td>
</tr>
<tr><td align="right">17</td>
<td>Stratford School District</td>
</tr>
<tr><td align="right"></td>
<td>Suffield School District</td>
</tr>
<tr><td align="right"></td>
<td>Thomaston School District</td>
</tr>
<tr><td align="right">6</td>
<td>Thompson School District</td>
</tr>
<tr><td align="right"></td>
<td>Tolland School District</td>
</tr>
<tr><td align="right">10</td>
<td>Torrington School District</td>
</tr>
<tr><td align="right">14</td>
<td>Trumbull School District</td>
</tr>
<tr><td align="right">0</td>
<td>Union School District</td>
</tr>
<tr><td align="right">8</td>
<td>Vernon School District</td>
</tr>
<tr><td align="right"></td>
<td>Voluntown School District</td>
</tr>
<tr><td align="right">13</td>
<td>Wallingford School District</td>
</tr>
<tr><td align="right">82</td>
<td>Waterbury School District</td>
</tr>
<tr><td align="right">21</td>
<td>Waterford School District</td>
</tr>
<tr><td align="right">6</td>
<td>Watertown School District</td>
</tr>
<tr><td align="right"></td>
<td>Westbrook School District</td>
</tr>
<tr><td align="right">23</td>
<td>West Hartford School District</td>
</tr>
<tr><td align="right">9</td>
<td>West Haven School District</td>
</tr>
<tr><td align="right">0</td>
<td>Weston School District</td>
</tr>
<tr><td align="right"></td>
<td>Westport School District</td>
</tr>
<tr><td align="right">10</td>
<td>Wethersfield School District</td>
</tr>
<tr><td align="right">0</td>
<td>Willington School District</td>
</tr>
<tr><td align="right"></td>
<td>Wilton School District</td>
</tr>
<tr><td align="right"></td>
<td>Winchester School District</td>
</tr>
<tr><td align="right">17</td>
<td>Windham School District</td>
</tr>
<tr><td align="right"></td>
<td>Windsor School District</td>
</tr>
<tr><td align="right"></td>
<td>Windsor Locks School District</td>
</tr>
<tr><td align="right"></td>
<td>Wolcott School District</td>
</tr>
<tr><td align="right"></td>
<td>Woodbridge School District</td>
</tr>
<tr><td align="right">0</td>
<td>Woodstock School District</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 01</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 04</td>
</tr>
<tr><td align="right">7</td>
<td>Regional School District 05</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 06</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 07</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 08</td>
</tr>
<tr><td align="right">6</td>
<td>Regional School District 09</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 10</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 11</td>
</tr>
<tr><td align="right">0</td>
<td>Regional School District 12</td>
</tr>
<tr><td align="right">0</td>
<td>Regional School District 13</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 14</td>
</tr>
<tr><td align="right">8</td>
<td>Regional School District 15</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 16</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 17</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 18</td>
</tr>
<tr><td align="right"></td>
<td>Regional School District 19</td>
</tr>
<tr><td align="right">0</td>
<td>Jumoke Academy District</td>
</tr>
<tr><td align="right"></td>
<td>Odyssey Community School Distr</td>
</tr>
<tr><td align="right"></td>
<td>Integrated Day Charter School</td>
</tr>
<tr><td align="right"></td>
<td>Interdistrict School for Arts</td>
</tr>
<tr><td align="right">0</td>
<td>Common Ground High School Dist</td>
</tr>
<tr><td align="right"></td>
<td>The Bridge Academy District</td>
</tr>
<tr><td align="right">0</td>
<td>Side By Side Charter School Di</td>
</tr>
<tr><td align="right"></td>
<td>Explorations District</td>
</tr>
<tr><td align="right">0</td>
<td>Trailblazers Academy District</td>
</tr>
<tr><td align="right"></td>
<td>Amistad Academy District</td>
</tr>
<tr><td align="right">0</td>
<td>New Beginnings Inc. Family Aca</td>
</tr>
<tr><td align="right">0</td>
<td>Stamford Academy District</td>
</tr>
<tr><td align="right">0</td>
<td>Park City Prep Charter School</td>
</tr>
<tr><td align="right"></td>
<td>Bridgeport Achievement First D</td>
</tr>
<tr><td align="right">0</td>
<td>Highville Charter School Distr</td>
</tr>
<tr><td align="right"></td>
<td>Achievement First Hartford Aca</td>
</tr>
<tr><td align="right"></td>
<td>Elm City College Preparatory S</td>
</tr>
<tr><td align="right">0</td>
<td>Brass City Charter School Dist</td>
</tr>
<tr><td align="right">22</td>
<td>Capitol Region Education Counc</td>
</tr>
<tr><td align="right"></td>
<td>Education Connection</td>
</tr>
<tr><td align="right">0</td>
<td>Cooperative Educational Servic</td>
</tr>
<tr><td align="right">6</td>
<td>Area Cooperative Educational S</td>
</tr>
<tr><td align="right">12</td>
<td>Learn</td>
</tr>
<tr><td align="right"></td>
<td>Eastern Connecticut Regional E</td>
</tr>
<tr><td align="right">0</td>
<td>Unified School District #1</td>
</tr>
<tr><td align="right">0</td>
<td>Department of Mental Health an</td>
</tr>
<tr><td align="right"></td>
<td>Unified School District #2</td>
</tr>
<tr><td align="right">51</td>
<td>Connecticut Technical High Sch</td>
</tr>
<tr><td align="right">43</td>
<td>Norwich Free Academy District</td>
</tr>
<tr><td align="right"></td>
<td>The Gilbert School District</td>
</tr>
<tr><td align="right"></td>
<td>Woodstock Academy District</td>
</tr>
<tr><td align="right">1548</td>
<td>State Total</td>
</tr>
</tbody></table></html>

